<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <ul class="quick-list">
      {% for link in site.pages %}
          {% if link.path contains 'persona' %}
              <li>
                  <a href="{{ link.url | prepend: site.baseurl }}">
                      <img{% if page.url contains link.url %} class="active"{% endif %} src="{{ site.baseurl }}/assets/{{ link.image | downcase }}.jpg" />
                  </a>
              </li>
        {% endif %}
      {% endfor %}
    </ul>

  </div>

</header>
